@font-face {
  /* 引入字体 */
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: thin;
  font-style: medium;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* 使用 Montserrat 字体 */
}