* {
  font-family: 'Montserrat Thin', sans-serif;
}

body {
  font-family: 'Montserrat Thin', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#footer {
  font-family: 'Montserrat Thin', sans-serif;
  ;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f5deb3;
  text-align: center;
}

#header {
  font-family: 'Montserrat Thin', sans-serif;
  ;
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 10px 20px;
  background-color: #f5deb3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#header span {
  font-size: 18px;
  color: #8b4513;
}

#header .logo img {
  height: 50px;
}

#header .logo h1 {
  font-size: 28px;
  margin-left: 10px;
  color: #8b4513;
}

#header nav {
  margin-left: 20px;
}

#header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#header li {
  margin-left: 30px;
}

#header a {
  text-decoration: none;
  color: #8b4513;
}

#header a:hover {
  color: #ce8c45;
}

#header .dropdown {
  position: relative;
}

#header .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
  margin-top: 0;
  /* change from 5px to 0 to avoid gap */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #f5deb3;
  border: 1px solid #8b4513;
  transition: opacity 0.5s ease, visibility 0.5s;
  /* add transition */
  opacity: 0;
  visibility: hidden;
}

#header .dropdown-content a {
  display: block;
  padding: 10px;
  font-size: 14px;
}

#header .dropdown-content a:hover {
  background-color: #ecd3b9;
}

#header .dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  visibility: visible;
  /* add visibility */
}

#header .dropbtn {
  display: flex;
  align-items: center;
  cursor: pointer;
}


#header .caret {
  margin-left: 5px;
  border-top: 5px solid #333;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

#header .fas {
  font-size: 18px;
  margin-right: 5px;
}