body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    margin: 0;
    background-color: #F5DEB3;
}

.center {
    text-align: center;
    margin: auto;
}

#artworkCarousel {
    position: relative;
    width: 300px;
    height: 400px;
}

#artworkCarousel img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

#prevButton,
#nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}