body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    margin: 0;
    background-color: #F5DEB3;
}

.center {
    text-align: center;
    margin: auto;
}

#artworkCarousel {
    position: relative;
    width: 300px;
    height: 400px;
}

#artworkCarousel img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

#prevButton,
#nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}

#topArtworks {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.resultCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 400px;
    margin: 60px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.resultCard img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.resultCard h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.resultCard h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.resultCard p {
    font-size: 16px;
    margin-bottom: 10px;
}

.resultCard p:last-child {
    margin-bottom: 0;
}

.resultCard p.soldOut {
    color: red;
    font-weight: bold;
}