/* 注册登录样式 */
body {
  background-color: #F5DEB3;
  font-family: 'Montserrat Thin', sans-serif;
}

form {
  background-color: #FFF8DC;
  border: none;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

h1 {
  color: #8B4513;
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #8B4513;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
.select-style {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

input[type="submit"],
.register-button,
.back-button {
  background-color: #8B4513;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover,
.register-button:hover,
.back-button:hover {
  background-color: #A0522D;
}

.custom-alert {
  background-color: #F5DEB3;
  border: none;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #8B4513;
}