h1 {
  text-align: center;
  color: #8B4513;
}

.userInfo {
  margin: 0 auto;
  width: 50%;
  background-color: #FFF8DC;
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #8B4513;
}

/* span {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
} */

.account {
  margin-top: 50px;
  text-align: center;
  color: #8B4513;
}

.account a {
  color: #8B4513;
  text-decoration: none;
}

.account a:hover {
  text-decoration: underline;
}

.recharge {
  margin-top: 20px;
  text-align: center;
  color: #8B4513;
}

.recharge a {
  color: #8B4513;
  text-decoration: none;
}

.recharge a:hover {
  text-decoration: underline;
}